Source: ros-groovy-ecto-opencv
Section: misc
Priority: extra
Maintainer: Vincent Rabaud <vincent.rabaud@gmail.com>
Build-Depends: debhelper (>= 7.0.0), libboost1.46-all-dev, ros-groovy-catkin, ros-groovy-ecto, ros-groovy-opencv-candidate
Homepage: http://plasmodic.github.io/ecto_opencv
Standards-Version: 3.9.2

Package: ros-groovy-ecto-opencv
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost1.46-all-dev, ros-groovy-ecto, ros-groovy-opencv-candidate
Description: Ecto bindings for common opencv functionality.
